*{
    margin:0;
    padding:0 ;
}
#titulo{
    font-family: sans-serif;
    color: rgb(104, 1, 1);
}
#a{
    font-family: sans-serif;
    color: rgb(104, 1, 1);
}
#b{
    font-family: sans-serif;
    color: rgb(104, 1, 1);
}
#c{
    font-family: sans-serif;
    color: rgb(104, 1, 1);
}
#r{
    font-family: sans-serif;
    color: rgb(104, 1, 1);
    text-align: center;
}
#p{
    font-family: sans-serif;
    color: rgb(104, 1, 1);
    text-align: center;
}
#sub{
    background-color: aqua;
    
    color: blue; 
   